# Script - Migration des données
## Ayoub Errhamani - Rachid Sahli
### BUT SD FA EMS 32 - SAE NoSQL

### Installation et import des librairies

In [ ]:
pip install pymongo pandas

In [37]:
import sqlite3
import pymongo
import pandas as pd

### Connexion à la base de données SQL

In [38]:
client = pymongo.MongoClient()
db = client.classicmodel
conn = sqlite3.connect("/Users/rs777/Documents/Iut/projets but stid/2024-2025/sae_nosql/ClassicModel.sqlite") # Connexion à la base de données

### Migration de la table *Orders*,*Ordersdetail* et *Products*

In [39]:
# Chargement des données depuis SQLite
orders = pd.read_sql_query("SELECT * FROM Orders;", conn)
order_details = pd.read_sql_query("SELECT * FROM OrderDetails;", conn)
products = pd.read_sql_query("SELECT * FROM Products;", conn)

# Ajout des produits dans les détails des commandes
product = [
    products.query('productCode == @code').to_dict(orient="records") 
    for code in order_details.productCode
]
order_details = order_details.assign(product=product)

# Regroupement des détails des commandes par numéro de commande
orderdetail = [
    order_details.query('orderNumber == @id')
    .drop(columns=["orderNumber"])
    .to_dict(orient="records") 
    for id in orders.orderNumber
]

# Ajout des détails des commandes groupés à la table Orders
orders = orders.assign(orderDetails=orderdetail)

# Insertion des données dans MongoDB
db.order.insert_many(orders.to_dict(orient="records"))

# Vérification des résultats
orders.head()

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,orderDetails
0,10100,2003/1/6 0:00:00,2003/1/13 0:00:00,2003/1/10 0:00:00,Shipped,NULL,363,"[{'productCode': 'S18_1749', 'quantityOrdered'..."
1,10101,2003/1/9 0:00:00,2003/1/18 0:00:00,2003/1/11 0:00:00,Shipped,Check on availability.,128,"[{'productCode': 'S18_2325', 'quantityOrdered'..."
2,10102,2003/1/10 0:00:00,2003/1/18 0:00:00,2003/1/14 0:00:00,Shipped,NULL,181,"[{'productCode': 'S18_1342', 'quantityOrdered'..."
3,10103,2003/1/29 0:00:00,2003/2/7 0:00:00,2003/2/2 0:00:00,Shipped,NULL,121,"[{'productCode': 'S10_1949', 'quantityOrdered'..."
4,10104,2003/1/31 0:00:00,2003/2/9 0:00:00,2003/2/1 0:00:00,Shipped,NULL,141,"[{'productCode': 'S12_3148', 'quantityOrdered'..."

### Migration des tables Employes et Offices

In [40]:
# Chargement des données depuis SQLite
employees = pd.read_sql_query("SELECT * FROM Employees;", conn)
offices = pd.read_sql_query("SELECT * FROM Offices;", conn)

office = [
    offices.query('officeCode == @id')
        .drop(columns = ["officeCode"])
        .to_dict(orient = "records") 
        for id in employees.officeCode
]

# Vérification des résultats
print(office)

[[{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'Sydney', 'phone': '+61 2 9264 2451', 'addressLine1': '5-11 Wentworth Avenue', 'addressLine2': 'Floor #2', 'state': 'NULL', 'country': 'Australia', 'postalCode': 'NSW 2010', 'territory': 'APAC'}], [{'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': 'NULL', 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}], [{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}], [{'city': 'Boston', 'phone': '+1 215 837 0825', 'addressLine1': '1550 Court Place', 'addressLine2': 'Suite 102', 'state': 'MA', 'country': 'USA', 'postalCode': '02107', 'territory': None}], [{'city': 'Boston', 'phone': '+1 215 837 0825', 'addressLine1': '1550 Court Place', 'addressLine2': 'Suite 102', 'state': 'MA', 'country': 'USA', 'postalCode': '02107', 'territory': None}], [{'city': 'NYC', 'phone': '+1 212 555 3000', 'addressLine1': '523 East 53rd Street', 'addressLine2': 'apt. 5A', 'state': 'NY', 'country': 'USA', 'postalCode': '10022', 'territory': None}], [{'city': 'NYC', 'phone': '+1 212 555 3000', 'addressLine1': '523 East 53rd Street', 'addressLine2': 'apt. 5A', 'state': 'NY', 'country': 'USA', 'postalCode': '10022', 'territory': None}], [{'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': 'NULL', 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}], [{'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': 'NULL', 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}], [{'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': 'NULL', 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}], [{'city': 'London', 'phone': '+44 20 7877 2041', 'addressLine1': '25 Old Broad Street', 'addressLine2': 'Level 7', 'state': 'NULL', 'country': 'UK', 'postalCode': 'EC2N 1HN', 'territory': 'EMEA'}], [{'city': 'London', 'phone': '+44 20 7877 2041', 'addressLine1': '25 Old Broad Street', 'addressLine2': 'Level 7', 'state': 'NULL', 'country': 'UK', 'postalCode': 'EC2N 1HN', 'territory': 'EMEA'}], [{'city': 'Sydney', 'phone': '+61 2 9264 2451', 'addressLine1': '5-11 Wentworth Avenue', 'addressLine2': 'Floor #2', 'state': 'NULL', 'country': 'Australia', 'postalCode': 'NSW 2010', 'territory': 'APAC'}], [{'city': 'Sydney', 'phone': '+61 2 9264 2451', 'addressLine1': '5-11 Wentworth Avenue', 'addressLine2': 'Floor #2', 'state': 'NULL', 'country': 'Australia', 'postalCode': 'NSW 2010', 'territory': 'APAC'}], [{'city': 'Sydney', 'phone': '+61 2 9264 2451', 'addressLine1': '5-11 Wentworth Avenue', 'addressLine2': 'Floor #2', 'state': 'NULL', 'country': 'Australia', 'postalCode': 'NSW 2010', 'territory': 'APAC'}], [{'city': 'Tokyo', 'phone': '+81 33 224 5000', 'addressLine1': '4-1 Kioicho', 'addressLine2': 'NULL', 'state': 'Chiyoda-Ku', 'country': 'Japan', 'postalCode': '102-8578', 'territory': 'Japan'}], [{'city': 'Tokyo', 'phone': '+81 33 224 5000', 'addressLine1': '4-1 Kioicho', 'addressLine2': 'NULL', 'state': 'Chiyoda-Ku', 'country': 'Japan', 'postalCode': '102-8578', 'territory': 'Japan'}], [{'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': 'NULL', 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}]]

In [41]:
# Ajout de la colonne office
employee = employees.assign(offices= office)

# Vérification des résultats
employee.head()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,offices
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1.0,NULL,President,"[{'city': 'San Francisco', 'phone': '+1 650 21..."
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1.0,1002,VP Sales,"[{'city': 'San Francisco', 'phone': '+1 650 21..."
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1.0,1002,VP Marketing,"[{'city': 'San Francisco', 'phone': '+1 650 21..."
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6.0,1056,"Sales Manager (JAPAN, APAC)","[{'city': 'Sydney', 'phone': '+61 2 9264 2451'..."
4,1102,Bondur,Gerard,x5408,athompson@classicmodelcars.com,4.0,1056,Sale Manager (EMEA),"[{'city': 'Paris', 'phone': '+33 14 723 4404',..."

In [42]:
# Insertion de la table employee dans mongoDB
db.employee.insert_many(
    employee.to_dict(orient = "records")
)

InsertManyResult([ObjectId('67672ffd5283ed5716b47348'), ObjectId('67672ffd5283ed5716b47349'), ObjectId('67672ffd5283ed5716b4734a'), ObjectId('67672ffd5283ed5716b4734b'), ObjectId('67672ffd5283ed5716b4734c'), ObjectId('67672ffd5283ed5716b4734d'), ObjectId('67672ffd5283ed5716b4734e'), ObjectId('67672ffd5283ed5716b4734f'), ObjectId('67672ffd5283ed5716b47350'), ObjectId('67672ffd5283ed5716b47351'), ObjectId('67672ffd5283ed5716b47352'), ObjectId('67672ffd5283ed5716b47353'), ObjectId('67672ffd5283ed5716b47354'), ObjectId('67672ffd5283ed5716b47355'), ObjectId('67672ffd5283ed5716b47356'), ObjectId('67672ffd5283ed5716b47357'), ObjectId('67672ffd5283ed5716b47358'), ObjectId('67672ffd5283ed5716b47359'), ObjectId('67672ffd5283ed5716b4735a'), ObjectId('67672ffd5283ed5716b4735b'), ObjectId('67672ffd5283ed5716b4735c'), ObjectId('67672ffd5283ed5716b4735d'), ObjectId('67672ffd5283ed5716b4735e')], acknowledged=True)

### Migration de la table Payments

In [43]:
# Chargement des données depuis SQLite
payments = pd.read_sql_query("SELECT * FROM Payments;", conn)

# Convertion en dictionnaires
payments.to_dict(orient = "records") 

# Vérification des résultats
payments.head()

   customerNumber checkNumber         paymentDate    amount
0             103    HQ336336  2004/10/19 0:00:00   5307.98
1             103    JM555205    2003/6/5 0:00:00  16560.30
2             103    OM314933  2004/12/18 0:00:00   2311.68
3             112    BO864823  2004/12/17 0:00:00  14449.61
4             112     HQ55022    2003/6/6 0:00:00  33847.62

In [44]:
# Insertion de la table payments dans mongoDB
db.payments.insert_many(payments.to_dict(orient = "records") )

InsertManyResult([ObjectId('676730055283ed5716b4735f'), ObjectId('676730055283ed5716b47360'), ObjectId('676730055283ed5716b47361'), ObjectId('676730055283ed5716b47362'), ObjectId('676730055283ed5716b47363'), ObjectId('676730055283ed5716b47364'), ObjectId('676730055283ed5716b47365'), ObjectId('676730055283ed5716b47366'), ObjectId('676730055283ed5716b47367'), ObjectId('676730055283ed5716b47368'), ObjectId('676730055283ed5716b47369'), ObjectId('676730055283ed5716b4736a'), ObjectId('676730055283ed5716b4736b'), ObjectId('676730055283ed5716b4736c'), ObjectId('676730055283ed5716b4736d'), ObjectId('676730055283ed5716b4736e'), ObjectId('676730055283ed5716b4736f'), ObjectId('676730055283ed5716b47370'), ObjectId('676730055283ed5716b47371'), ObjectId('676730055283ed5716b47372'), ObjectId('676730055283ed5716b47373'), ObjectId('676730055283ed5716b47374'), ObjectId('676730055283ed5716b47375'), ObjectId('676730055283ed5716b47376'), ObjectId('676730055283ed5716b47377'), ObjectId('676730055283ed5716b47378'), ObjectId('676730055283ed5716b47379'), ObjectId('676730055283ed5716b4737a'), ObjectId('676730055283ed5716b4737b'), ObjectId('676730055283ed5716b4737c'), ObjectId('676730055283ed5716b4737d'), ObjectId('676730055283ed5716b4737e'), ObjectId('676730055283ed5716b4737f'), ObjectId('676730055283ed5716b47380'), ObjectId('676730055283ed5716b47381'), ObjectId('676730055283ed5716b47382'), ObjectId('676730055283ed5716b47383'), ObjectId('676730055283ed5716b47384'), ObjectId('676730055283ed5716b47385'), ObjectId('676730055283ed5716b47386'), ObjectId('676730055283ed5716b47387'), ObjectId('676730055283ed5716b47388'), ObjectId('676730055283ed5716b47389'), ObjectId('676730055283ed5716b4738a'), ObjectId('676730055283ed5716b4738b'), ObjectId('676730055283ed5716b4738c'), ObjectId('676730055283ed5716b4738d'), ObjectId('676730055283ed5716b4738e'), ObjectId('676730055283ed5716b4738f'), ObjectId('676730055283ed5716b47390'), ObjectId('676730055283ed5716b47391'), ObjectId('676730055283ed5716b47392'), ObjectId('676730055283ed5716b47393'), ObjectId('676730055283ed5716b47394'), ObjectId('676730055283ed5716b47395'), ObjectId('676730055283ed5716b47396'), ObjectId('676730055283ed5716b47397'), ObjectId('676730055283ed5716b47398'), ObjectId('676730055283ed5716b47399'), ObjectId('676730055283ed5716b4739a'), ObjectId('676730055283ed5716b4739b'), ObjectId('676730055283ed5716b4739c'), ObjectId('676730055283ed5716b4739d'), ObjectId('676730055283ed5716b4739e'), ObjectId('676730055283ed5716b4739f'), ObjectId('676730055283ed5716b473a0'), ObjectId('676730055283ed5716b473a1'), ObjectId('676730055283ed5716b473a2'), ObjectId('676730055283ed5716b473a3'), ObjectId('676730055283ed5716b473a4'), ObjectId('676730055283ed5716b473a5'), ObjectId('676730055283ed5716b473a6'), ObjectId('676730055283ed5716b473a7'), ObjectId('676730055283ed5716b473a8'), ObjectId('676730055283ed5716b473a9'), ObjectId('676730055283ed5716b473aa'), ObjectId('676730055283ed5716b473ab'), ObjectId('676730055283ed5716b473ac'), ObjectId('676730055283ed5716b473ad'), ObjectId('676730055283ed5716b473ae'), ObjectId('676730055283ed5716b473af'), ObjectId('676730055283ed5716b473b0'), ObjectId('676730055283ed5716b473b1'), ObjectId('676730055283ed5716b473b2'), ObjectId('676730055283ed5716b473b3'), ObjectId('676730055283ed5716b473b4'), ObjectId('676730055283ed5716b473b5'), ObjectId('676730055283ed5716b473b6'), ObjectId('676730055283ed5716b473b7'), ObjectId('676730055283ed5716b473b8'), ObjectId('676730055283ed5716b473b9'), ObjectId('676730055283ed5716b473ba'), ObjectId('676730055283ed5716b473bb'), ObjectId('676730055283ed5716b473bc'), ObjectId('676730055283ed5716b473bd'), ObjectId('676730055283ed5716b473be'), ObjectId('676730055283ed5716b473bf'), ObjectId('676730055283ed5716b473c0'), ObjectId('676730055283ed5716b473c1'), ObjectId('676730055283ed5716b473c2'), ObjectId('676730055283ed5716b473c3'), ObjectId('676730055283ed5716b473c4'), ObjectId('676730055283ed5716b473c5'), ObjectId('676730055283ed5716b473c6'), ObjectId('676730055283ed5716b473c7'), ObjectId('676730055283ed5716b473c8'), ObjectId('676730055283ed5716b473c9'), ObjectId('676730055283ed5716b473ca'), ObjectId('676730055283ed5716b473cb'), ObjectId('676730055283ed5716b473cc'), ObjectId('676730055283ed5716b473cd'), ObjectId('676730055283ed5716b473ce'), ObjectId('676730055283ed5716b473cf'), ObjectId('676730055283ed5716b473d0'), ObjectId('676730055283ed5716b473d1'), ObjectId('676730055283ed5716b473d2'), ObjectId('676730055283ed5716b473d3'), ObjectId('676730055283ed5716b473d4'), ObjectId('676730055283ed5716b473d5'), ObjectId('676730055283ed5716b473d6'), ObjectId('676730055283ed5716b473d7'), ObjectId('676730055283ed5716b473d8'), ObjectId('676730055283ed5716b473d9'), ObjectId('676730055283ed5716b473da'), ObjectId('676730055283ed5716b473db'), ObjectId('676730055283ed5716b473dc'), ObjectId('676730055283ed5716b473dd'), ObjectId('676730055283ed5716b473de'), ObjectId('676730055283ed5716b473df'), ObjectId('676730055283ed5716b473e0'), ObjectId('676730055283ed5716b473e1'), ObjectId('676730055283ed5716b473e2'), ObjectId('676730055283ed5716b473e3'), ObjectId('676730055283ed5716b473e4'), ObjectId('676730055283ed5716b473e5'), ObjectId('676730055283ed5716b473e6'), ObjectId('676730055283ed5716b473e7'), ObjectId('676730055283ed5716b473e8'), ObjectId('676730055283ed5716b473e9'), ObjectId('676730055283ed5716b473ea'), ObjectId('676730055283ed5716b473eb'), ObjectId('676730055283ed5716b473ec'), ObjectId('676730055283ed5716b473ed'), ObjectId('676730055283ed5716b473ee'), ObjectId('676730055283ed5716b473ef'), ObjectId('676730055283ed5716b473f0'), ObjectId('676730055283ed5716b473f1'), ObjectId('676730055283ed5716b473f2'), ObjectId('676730055283ed5716b473f3'), ObjectId('676730055283ed5716b473f4'), ObjectId('676730055283ed5716b473f5'), ObjectId('676730055283ed5716b473f6'), ObjectId('676730055283ed5716b473f7'), ObjectId('676730055283ed5716b473f8'), ObjectId('676730055283ed5716b473f9'), ObjectId('676730055283ed5716b473fa'), ObjectId('676730055283ed5716b473fb'), ObjectId('676730055283ed5716b473fc'), ObjectId('676730055283ed5716b473fd'), ObjectId('676730055283ed5716b473fe'), ObjectId('676730055283ed5716b473ff'), ObjectId('676730055283ed5716b47400'), ObjectId('676730055283ed5716b47401'), ObjectId('676730055283ed5716b47402'), ObjectId('676730055283ed5716b47403'), ObjectId('676730055283ed5716b47404'), ObjectId('676730055283ed5716b47405'), ObjectId('676730055283ed5716b47406'), ObjectId('676730055283ed5716b47407'), ObjectId('676730055283ed5716b47408'), ObjectId('676730055283ed5716b47409'), ObjectId('676730055283ed5716b4740a'), ObjectId('676730055283ed5716b4740b'), ObjectId('676730055283ed5716b4740c'), ObjectId('676730055283ed5716b4740d'), ObjectId('676730055283ed5716b4740e'), ObjectId('676730055283ed5716b4740f'), ObjectId('676730055283ed5716b47410'), ObjectId('676730055283ed5716b47411'), ObjectId('676730055283ed5716b47412'), ObjectId('676730055283ed5716b47413'), ObjectId('676730055283ed5716b47414'), ObjectId('676730055283ed5716b47415'), ObjectId('676730055283ed5716b47416'), ObjectId('676730055283ed5716b47417'), ObjectId('676730055283ed5716b47418'), ObjectId('676730055283ed5716b47419'), ObjectId('676730055283ed5716b4741a'), ObjectId('676730055283ed5716b4741b'), ObjectId('676730055283ed5716b4741c'), ObjectId('676730055283ed5716b4741d'), ObjectId('676730055283ed5716b4741e'), ObjectId('676730055283ed5716b4741f'), ObjectId('676730055283ed5716b47420'), ObjectId('676730055283ed5716b47421'), ObjectId('676730055283ed5716b47422'), ObjectId('676730055283ed5716b47423'), ObjectId('676730055283ed5716b47424'), ObjectId('676730055283ed5716b47425'), ObjectId('676730055283ed5716b47426'), ObjectId('676730055283ed5716b47427'), ObjectId('676730055283ed5716b47428'), ObjectId('676730055283ed5716b47429'), ObjectId('676730055283ed5716b4742a'), ObjectId('676730055283ed5716b4742b'), ObjectId('676730055283ed5716b4742c'), ObjectId('676730055283ed5716b4742d'), ObjectId('676730055283ed5716b4742e'), ObjectId('676730055283ed5716b4742f'), ObjectId('676730055283ed5716b47430'), ObjectId('676730055283ed5716b47431'), ObjectId('676730055283ed5716b47432'), ObjectId('676730055283ed5716b47433'), ObjectId('676730055283ed5716b47434'), ObjectId('676730055283ed5716b47435'), ObjectId('676730055283ed5716b47436'), ObjectId('676730055283ed5716b47437'), ObjectId('676730055283ed5716b47438'), ObjectId('676730055283ed5716b47439'), ObjectId('676730055283ed5716b4743a'), ObjectId('676730055283ed5716b4743b'), ObjectId('676730055283ed5716b4743c'), ObjectId('676730055283ed5716b4743d'), ObjectId('676730055283ed5716b4743e'), ObjectId('676730055283ed5716b4743f'), ObjectId('676730055283ed5716b47440'), ObjectId('676730055283ed5716b47441'), ObjectId('676730055283ed5716b47442'), ObjectId('676730055283ed5716b47443'), ObjectId('676730055283ed5716b47444'), ObjectId('676730055283ed5716b47445'), ObjectId('676730055283ed5716b47446'), ObjectId('676730055283ed5716b47447'), ObjectId('676730055283ed5716b47448'), ObjectId('676730055283ed5716b47449'), ObjectId('676730055283ed5716b4744a'), ObjectId('676730055283ed5716b4744b'), ObjectId('676730055283ed5716b4744c'), ObjectId('676730055283ed5716b4744d'), ObjectId('676730055283ed5716b4744e'), ObjectId('676730055283ed5716b4744f'), ObjectId('676730055283ed5716b47450'), ObjectId('676730055283ed5716b47451'), ObjectId('676730055283ed5716b47452'), ObjectId('676730055283ed5716b47453'), ObjectId('676730055283ed5716b47454'), ObjectId('676730055283ed5716b47455'), ObjectId('676730055283ed5716b47456'), ObjectId('676730055283ed5716b47457'), ObjectId('676730055283ed5716b47458'), ObjectId('676730055283ed5716b47459'), ObjectId('676730055283ed5716b4745a'), ObjectId('676730055283ed5716b4745b'), ObjectId('676730055283ed5716b4745c'), ObjectId('676730055283ed5716b4745d'), ObjectId('676730055283ed5716b4745e'), ObjectId('676730055283ed5716b4745f'), ObjectId('676730055283ed5716b47460'), ObjectId('676730055283ed5716b47461'), ObjectId('676730055283ed5716b47462'), ObjectId('676730055283ed5716b47463'), ObjectId('676730055283ed5716b47464'), ObjectId('676730055283ed5716b47465'), ObjectId('676730055283ed5716b47466'), ObjectId('676730055283ed5716b47467'), ObjectId('676730055283ed5716b47468'), ObjectId('676730055283ed5716b47469'), ObjectId('676730055283ed5716b4746a'), ObjectId('676730055283ed5716b4746b'), ObjectId('676730055283ed5716b4746c'), ObjectId('676730055283ed5716b4746d'), ObjectId('676730055283ed5716b4746e')], acknowledged=True)

### Migration de la table Customers

In [46]:
# Chargement des données depuis SQLite
customers = pd.read_sql_query("SELECT * FROM Customers;", conn)

# Convertion en dictionnaires
customers.to_dict(orient = "records") 

# Vérification des résultats
customers.head()

InsertManyResult([ObjectId('676730645283ed5716b4746f'), ObjectId('676730645283ed5716b47470'), ObjectId('676730645283ed5716b47471'), ObjectId('676730645283ed5716b47472'), ObjectId('676730645283ed5716b47473'), ObjectId('676730645283ed5716b47474'), ObjectId('676730645283ed5716b47475'), ObjectId('676730645283ed5716b47476'), ObjectId('676730645283ed5716b47477'), ObjectId('676730645283ed5716b47478'), ObjectId('676730645283ed5716b47479'), ObjectId('676730645283ed5716b4747a'), ObjectId('676730645283ed5716b4747b'), ObjectId('676730645283ed5716b4747c'), ObjectId('676730645283ed5716b4747d'), ObjectId('676730645283ed5716b4747e'), ObjectId('676730645283ed5716b4747f'), ObjectId('676730645283ed5716b47480'), ObjectId('676730645283ed5716b47481'), ObjectId('676730645283ed5716b47482'), ObjectId('676730645283ed5716b47483'), ObjectId('676730645283ed5716b47484'), ObjectId('676730645283ed5716b47485'), ObjectId('676730645283ed5716b47486'), ObjectId('676730645283ed5716b47487'), ObjectId('676730645283ed5716b47488'), ObjectId('676730645283ed5716b47489'), ObjectId('676730645283ed5716b4748a'), ObjectId('676730645283ed5716b4748b'), ObjectId('676730645283ed5716b4748c'), ObjectId('676730645283ed5716b4748d'), ObjectId('676730645283ed5716b4748e'), ObjectId('676730645283ed5716b4748f'), ObjectId('676730645283ed5716b47490'), ObjectId('676730645283ed5716b47491'), ObjectId('676730645283ed5716b47492'), ObjectId('676730645283ed5716b47493'), ObjectId('676730645283ed5716b47494'), ObjectId('676730645283ed5716b47495'), ObjectId('676730645283ed5716b47496'), ObjectId('676730645283ed5716b47497'), ObjectId('676730645283ed5716b47498'), ObjectId('676730645283ed5716b47499'), ObjectId('676730645283ed5716b4749a'), ObjectId('676730645283ed5716b4749b'), ObjectId('676730645283ed5716b4749c'), ObjectId('676730645283ed5716b4749d'), ObjectId('676730645283ed5716b4749e'), ObjectId('676730645283ed5716b4749f'), ObjectId('676730645283ed5716b474a0'), ObjectId('676730645283ed5716b474a1'), ObjectId('676730645283ed5716b474a2'), ObjectId('676730645283ed5716b474a3'), ObjectId('676730645283ed5716b474a4'), ObjectId('676730645283ed5716b474a5'), ObjectId('676730645283ed5716b474a6'), ObjectId('676730645283ed5716b474a7'), ObjectId('676730645283ed5716b474a8'), ObjectId('676730645283ed5716b474a9'), ObjectId('676730645283ed5716b474aa'), ObjectId('676730645283ed5716b474ab'), ObjectId('676730645283ed5716b474ac'), ObjectId('676730645283ed5716b474ad'), ObjectId('676730645283ed5716b474ae'), ObjectId('676730645283ed5716b474af'), ObjectId('676730645283ed5716b474b0'), ObjectId('676730645283ed5716b474b1'), ObjectId('676730645283ed5716b474b2'), ObjectId('676730645283ed5716b474b3'), ObjectId('676730645283ed5716b474b4'), ObjectId('676730645283ed5716b474b5'), ObjectId('676730645283ed5716b474b6'), ObjectId('676730645283ed5716b474b7'), ObjectId('676730645283ed5716b474b8'), ObjectId('676730645283ed5716b474b9'), ObjectId('676730645283ed5716b474ba'), ObjectId('676730645283ed5716b474bb'), ObjectId('676730645283ed5716b474bc'), ObjectId('676730645283ed5716b474bd'), ObjectId('676730645283ed5716b474be'), ObjectId('676730645283ed5716b474bf'), ObjectId('676730645283ed5716b474c0'), ObjectId('676730645283ed5716b474c1'), ObjectId('676730645283ed5716b474c2'), ObjectId('676730645283ed5716b474c3'), ObjectId('676730645283ed5716b474c4'), ObjectId('676730645283ed5716b474c5'), ObjectId('676730645283ed5716b474c6'), ObjectId('676730645283ed5716b474c7'), ObjectId('676730645283ed5716b474c8'), ObjectId('676730645283ed5716b474c9'), ObjectId('676730645283ed5716b474ca'), ObjectId('676730645283ed5716b474cb'), ObjectId('676730645283ed5716b474cc'), ObjectId('676730645283ed5716b474cd'), ObjectId('676730645283ed5716b474ce'), ObjectId('676730645283ed5716b474cf'), ObjectId('676730645283ed5716b474d0'), ObjectId('676730645283ed5716b474d1'), ObjectId('676730645283ed5716b474d2'), ObjectId('676730645283ed5716b474d3'), ObjectId('676730645283ed5716b474d4'), ObjectId('676730645283ed5716b474d5'), ObjectId('676730645283ed5716b474d6'), ObjectId('676730645283ed5716b474d7'), ObjectId('676730645283ed5716b474d8'), ObjectId('676730645283ed5716b474d9'), ObjectId('676730645283ed5716b474da'), ObjectId('676730645283ed5716b474db'), ObjectId('676730645283ed5716b474dc'), ObjectId('676730645283ed5716b474dd'), ObjectId('676730645283ed5716b474de'), ObjectId('676730645283ed5716b474df'), ObjectId('676730645283ed5716b474e0'), ObjectId('676730645283ed5716b474e1'), ObjectId('676730645283ed5716b474e2'), ObjectId('676730645283ed5716b474e3'), ObjectId('676730645283ed5716b474e4'), ObjectId('676730645283ed5716b474e5'), ObjectId('676730645283ed5716b474e6'), ObjectId('676730645283ed5716b474e7'), ObjectId('676730645283ed5716b474e8')], acknowledged=True)

In [ ]:
# Insertion de la table payments dans mongoDB
db.customers.insert_many(customers.to_dict(orient = "records") )